{{define "styles"}}

{{end}}


{{define "main"}}
<div id="container">
	<h1>Update Exclusion Rules for {{.CurrentProject}}</h1>
	<h2>Help</h2>
	<ol>
		<li>Every item must be one per line</li>
		<li>To exclude directories end the path with a forward slash eg <b>tmp/</b></li>
		<li>To exclude extensions end the entry with a full stop followed by the extension name eg. <b>.tar.gz</b></li>
		<li>To exclude files just write the path to the file. No forward slash</li>
	</ol>
	<form method="post">
		<div>
			<label>Exclusion Rules</label><br>
			<textarea style="width: 85%;" name="exrules">{{.Rules}}</textarea>
		</div>

		<div>
			<input type="submit" value="Update Exclusion Rules" />
		</div>
	</form>
</div>
{{end}}